body{
    background-color: pink;
}
section{
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: #fff;
    margin-top: 75px;
    box-shadow: 0px 10px 36px 16px rgba(0, 0, 0, 1);
}
.game--title{
    padding-top: 20px;
}
.game-contenier{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 150px;
    margin: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cell{
     width: 50px;
     height: 50px;
     box-shadow: 0,0,0,1 #3333;
     border: 1px solid #3333;
     cursor: pointer;
     line-height: 50px;
     font-size: 20px;
}
button{
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    cursor: pointer;
}
button:hover{
    transition: 0.25s;
    background-color: blue;
}